<div id="box_form">
    <% form_remote_for @contact do |f| %>
      <%= f.text_field :email, :class => "text" %>

      <%= image_submit_tag "../images/botao_enviar.png", :class => 'button' %>
    <%end%>

</div>
    <span id="follow_us">
       	<a href=""><img src="../images/follow_us.png" /></a>
    </span>

